@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Rakkas&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  background-color: rgb(221, 221, 221);
}

a {
  text-decoration: none;
  color: #eee;
}

.container {
  max-width: 85rem;
  width: 95%;
  margin: 0 auto;
}

h1 {
  font-family: "Rakkas", serif;
  font-size: 2.5rem;
  color: #eee;
  position: relative;
}

h1::after {
  content: "";
  display: block;
  position: absolute;
  width: 7rem;
  height: 0.5rem;
  left: 4rem;
  background-color: rgb(230, 138, 0);
  margin-top: 0.8rem;
}

.navbar {
  background-color: rgb(19, 20, 34);
}

.menubar {
  list-style: none;
  display: flex;
  padding: 1rem 0;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.menubar li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.menubar li a:hover {
  color: rgb(230, 138, 0);
}


.menubar li:nth-child(2) {
  order: 1;
}

.menubar li:nth-child(3) {
  order: 2;
}

.menubar li:nth-child(4) {
  order: 3;
}

.site-logo {
  order: 4;
}

.menubar li:nth-child(5) {
  order: 5;
}

.menubar li:nth-child(6) {
  order: 6;
}

.menubar li:nth-child(7) {
  order: 7;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: rgb(230, 138, 0);
  border: none;
  border: solid 2px rgb(230, 138, 0);
  border-radius: 0.2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: rgb(235, 150, 23);
  border-color: rgb(235, 150, 23);
}

@media (max-width: 600px) {
  .menubar {
    display: block;
    width: 100%;
    text-align: center;
    padding: 3rem 0 5rem;
  }

  h1.site-logo {
    margin-bottom: 2rem;
  }

  .btn {
    margin-top: 2rem;
  }

  h1::after {
    left: 8rem;
  }
  
}